<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% if item['imageFlag'] == 1 %>
              <%= image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') , alt: item['itemName']) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item['itemName']) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% #TODO 商品タイトル %>
            <%= link_to item['itemName'], item['itemUrl'] %>
          </p>
        </div>
        <div class="action clearfix">
          <% @item = Item.find_or_initialize_by(item_code: item['itemCode']) %>
          <% if current_user.want?(@item) %>
            <%= render 'unwant', item: @item  %>
          <% else %>
            <%= render 'want', item: @item %>
          <% end %>
          <% if current_user.have?(@item) %>
            <%= render 'unhave', item: @item  %>
          <% else %>
            <%= render 'have', item: @item  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
